body{
    background-color: rgb(101, 100, 100);
    padding-left: 30%;
    padding-top: 5%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 10%;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-left: 18%;
}